name: Primer WorkFlow

on: 
  push: 
    branches:
      - main
      - featurex


jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
    
      - name: Descargar el codigo
        uses: actions/checkout@v5


  
  validar: 
    runs-on: ubuntu-latest
    needs: test
    steps: 



      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: pe10/holamundo


        
